.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  z-index: 1;
  transition: transform 0.7s ease-in-out;
  background: rgba(15, 23, 43, 0.7);
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  z-index: -1;
}

.carousel-slide.active {
  opacity: 1;
  position: relative;
}

.carousel-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-control {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  font-size: 50px;
  color: white;
  opacity: 0.2;
  z-index: 10;
}

.carousel-control.prev {
  left: 40px;
}

.carousel-control.next {
  right: 40px;
  top: 327px;
}

.carousel-content {
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.carousel-content.transitioning {
  opacity: 0;
  transform: translateY(20px);
}

.carousel-heading {
  color: #ffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.lines {
  background-color: #ff8c00;
  width: 45px;
  height: 2px;
}

.carousel-description {
  font-size: 76px;
  font-weight: bolder;
  line-height: 84px;
  color: #ffff;
}

.carousel-button {
  color: #ffff;
  background-color: #ff8c00;
  font-weight: 700;
  font-size: 19px;
}