/* Navbar background */
.navbar {
  background-color: #002366; /* Dark blue */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo Styling */
.logo {
  color: #ff8c00;
  font-size: 1.875rem;
  font-weight: bold;
}

/* Menu Styling */
.menu {
  gap: 37px;
}

.menu-link {
  color: #ffffff; /* White text */
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-link:hover {
  color: #ff8c00; /* Orange on hover */
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #002366; /* Dark blue background */
  padding: 0.5rem 0;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-link:hover {
  background-color: #ff8c00;
  color: #002366;
}

/* Register Button Styling */
.register-btn {
  display: inline-flex;
  align-items: center;
  background-color: #ff8c00;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  text-decoration: none;
  transition: color 0.3s ease, color 0.3s ease;
}

.register-btn:hover {
  color: #002366; 
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Translucent background */
  z-index: 999;
}
/* Modal content (SignUpCard) */
.modal-content {
  width: 31%;
 
}
