* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

  }
  body{
    background-color: rgb(243 244 246);
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .float-animation {
    animation: float 3s ease-in-out infinite;
  }
  